{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Produto</title>
</head>
<body>
    <h5>Produto</h5>
    {{ produto.first }}

    <table>
        <thead>
            <tr>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Estoque</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td><a href="{% url 'index' %}">{{ produto.nome }}</a></td>
                    <td>{{ produto.preco }}</td>
                    <td>{{ produto.estoque }}</td>
                </tr>
        </tbody>

    </table>
    
</body>
</html>